*{
    padding: 0;
    margin: 0;
}



.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.container h1 a{
    text-decoration: none;
    color: black;
    font-size: 35px;
}

.nav1 {
    display: none;
}

.navbarBurger{
    display: none;
}


.navbar {
    margin-top: 10px;
}

.navbar ul{
    display: flex;
    margin-right: 70px;
}

.navbar ul img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.8;
}

.navbar ul img:hover {
    opacity: 1;
}

.navbar ul li {
    margin-right: 80px;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(94, 94, 94);
    opacity: O.8;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: black;
    opacity: 1;
    border-bottom: 2px solid rgb(37, 114, 145) ;
}


main {
    background: url(../Images/bd.jpg) no-repeat center center/cover;
    font-family: 'poppins' , sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Contact-Nous {
    width: 60%;
    margin-bottom: 60px;
}

#Contact-Nous h1{
    text-align: center;
    color: aliceblue;
    margin-bottom: 50px;
    font-size: 40px;
    margin-top: 50px;
}

#Contact {
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.prgContact p{
    color: aliceblue;
    font-size: 22px;
    text-align: center;
}

.contact form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10%;
}

.contact form label {
    color: aliceblue;
    font-size: 22px;
}

.contact form .input{
    display: block;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 5px;
    width: 350px;
    height: 25px;
    padding: 5px 7px;
    border : 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    background: none;
}

.contact form textarea{
    margin-left: 10px;
    margin-top: 5px;
    width: 450px;
    height: 85px;
    padding: 5px 7px;
    border : 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    background: none;
    color: aliceblue;
}

.contact form input {
    display: block;
    margin-left: 10px;
    margin-top: 25px;
    width: 250px;
    height: 35px;
    padding: 5px 7px;
    border : 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(34, 111, 114);
    color: aliceblue;
}

footer {
    height: 60px;
}

.footer {
    border-top: 1px solid rgba(172, 172, 172, 0.466);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 25px;
}


@media (min-width:650px) and (max-width:900px) {
    .nav1 {
        display: block;
    }
    
    .navbarBurger{
        display: block;
    }

    .navbarBurger {
        position: absolute;
        width: 95%;
        margin-top: 60px;
        height: 50vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbarBurger1 {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(0, 0, 0, 0.616);
        height: 100%;
        width: 400px;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        backdrop-filter: blur(15px);
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        display: none;
    }

    .navbarBurger ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 20px;
        margin-top: 70px;
        height: 35px;
        background-color: rgb(64, 183, 204);
        width: 90%;
        font-size: 20px;
        border-radius: 10px;
    }

    .navbarBurger ul li a {
        text-decoration: none;
        color: aliceblue;
        width: 100%;
        text-align: center;
    }

    .nv1 {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        opacity: 0.8;
        cursor: pointer;
    }
    
    
    .nv1:hover {
        opacity: 1;
    }
    
    .nv2 {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        opacity: 0.8;
        cursor: pointer;
        display: none;
    }
    
    .nv2:hover {
        opacity: 1;
    }
    
    .nv3 {
        width: 35px;
        height: 35px;
        margin-left: 60px;
    }

    .navbar {
        display: none;
    }

    .contact form textarea {
        width: 80%;
    }

    .contact form .input {
        width: 80%;
    }
}


@media (max-width:650px) {
    .nav1 {
        display: block;
    }
    
    .navbarBurger{
        display: block;
    }

    .navbarBurger {
        position: absolute;
        width: 95%;
        margin-top: 60px;
        height: 50vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbarBurger1 {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(0, 0, 0, 0.616);
        height: 100%;
        width: 400px;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        backdrop-filter: blur(15px);
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        display: none;
    }

    .navbarBurger ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 20px;
        margin-top: 70px;
        height: 35px;
        background-color: rgb(64, 183, 204);
        width: 90%;
        font-size: 20px;
        border-radius: 10px;
    }

    .navbarBurger ul li a {
        text-decoration: none;
        color: aliceblue;
        width: 100%;
        text-align: center;
    }

    .nv1 {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        opacity: 0.8;
        cursor: pointer;
    }
    
    
    .nv1:hover {
        opacity: 1;
    }
    
    .nv2 {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        opacity: 0.8;
        cursor: pointer;
        display: none;
    }
    
    .nv2:hover {
        opacity: 1;
    }
    
    .nv3 {
        width: 35px;
        height: 35px;
        margin-left: 60px;
    }

    .navbar {
        display: none;
    }

    .prgContact p {
        font-size: 18px;
    }

    .contact form label {
        font-size: 20px;
    }
    
    .contact form textarea {
        width: 80%;
    }

    .contact form .input {
        width: 80%;
    }
}