*{
    padding: 0;
    margin: 0;
}



.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.container h1 a{
    text-decoration: none;
    color: black;
    font-size: 35px;
}

.nav1 {
    display: none;
}

.navbarBurger{
    display: none;
}


.navbar {
    margin-top: 10px;
}

.navbar ul{
    display: flex;
    margin-right: 70px;
}

.navbar ul img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.8;
}

.navbar ul img:hover {
    opacity: 1;
}

.navbar ul li {
    margin-right: 80px;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(94, 94, 94);
    opacity: O.8;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: black;
    opacity: 1;
    border-bottom: 2px solid rgb(37, 114, 145) ;
}

main {
    background-color: #F8F8F8;
    padding-bottom: 60px;
    border-top: 1px solid rgba(179, 179, 179, 0.151);
    border-bottom: 1px solid rgba(179, 179, 179, 0.151);
}

.specialPromo1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.specialPromo {
    background-image: url(../Images/promo.png);
    background-size: cover;
    width: 30%;
    height: 400px;
}


#Gamer h1{
    margin-left: 40px;
    font-size: 35px;
    margin-top: 40px;
}

#setupGamer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#descGamer {
    margin-top: 20px;
    width: 250px;
    height: 300px;
    background-color: #b8cbcfa2;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageGamer {
    background-image: url(../Images/uc.jpg);
    background-size: cover;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
}

#descGamer h4 {
    font-size: 30px;
}

.prixGamer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.prixGamer p {
    margin-right: 50px;
    color: green;
}

.prixGamer button {
    width: 100px;
    height: 25px;
    background-color: rgba(127, 255, 249, 0.452);
    border: 1px solid rgb(124, 124, 124);
    border-radius: 5px;
}

.prixGamer button:hover {
    background-color: rgba(59, 255, 190, 0.76);
}

.prixGamer button a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

#moniteursGamer h1{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 35px;
}

#moniteurs {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


#chaiseGamer h1{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 35px;
}

#chaise {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


#accessoirGamer h1{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 35px;
}

#accessoir {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer {
    height: 60px;
}

.footer {
    border-top: 1px solid rgba(172, 172, 172, 0.466);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 25px;
}



@media (min-width:900px) and (max-width:1400px) {
    .specialPromo {
        height: 300px;
    }

    #descGamer {
        width: 170px;
        height: 200px;
    }

    #descGamer h4 {
        font-size: 25px;
    }

    .prixGamer p {
        margin-right: 20px;
        font-size: 16px;
    }

    .prixGamer button {
        width: 60px;
        height: 20px;
    }
}



@media (min-width:650px) and (max-width:900px) {
    .nav1 {
        display: block;
    }
    
    .navbarBurger{
        display: block;
    }

    .navbarBurger {
        position: absolute;
        width: 95%;
        margin-top: 60px;
        height: 50vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbarBurger1 {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(0, 0, 0, 0.616);
        height: 100%;
        width: 400px;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        backdrop-filter: blur(15px);
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        display: none;
    }

    .navbarBurger ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 20px;
        margin-top: 70px;
        height: 35px;
        background-color: rgb(64, 183, 204);
        width: 90%;
        font-size: 20px;
        border-radius: 10px;
    }

    .navbarBurger ul li a {
        text-decoration: none;
        color: aliceblue;
        width: 100%;
        text-align: center;
    }

    .nv1 {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        opacity: 0.8;
        cursor: pointer;
    }
    
    
    .nv1:hover {
        opacity: 1;
    }
    
    .nv2 {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        opacity: 0.8;
        cursor: pointer;
        display: none;
    }
    
    .nv2:hover {
        opacity: 1;
    }
    
    .nv3 {
        width: 35px;
        height: 35px;
        margin-left: 60px;
    }

    .navbar {
        display: none;
    }

    .specialPromo {
        height: 200px;
    }

    #descGamer {
        width: 120px;
        height: 160px;
        border-radius: 5px;
    }

    #descGamer h4 {
        font-size: 20px;
    }

    .prixGamer p {
        margin-right: 5px;
        font-size: 11px;
    }

    .prixGamer button {
        width: 60px;
        height: 17px;
    }

}


@media (max-width:650px) {
    .nav1 {
        display: block;
    }
    
    .navbarBurger{
        display: block;
    }

    .navbarBurger {
        position: absolute;
        width: 95%;
        margin-top: 60px;
        height: 50vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbarBurger1 {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(0, 0, 0, 0.616);
        height: 100%;
        width: 400px;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        backdrop-filter: blur(15px);
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        display: none;
    }

    .navbarBurger ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 20px;
        margin-top: 70px;
        height: 35px;
        background-color: rgb(64, 183, 204);
        width: 90%;
        font-size: 20px;
        border-radius: 10px;
    }

    .navbarBurger ul li a {
        text-decoration: none;
        color: aliceblue;
        width: 100%;
        text-align: center;
    }

    .nv1 {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        opacity: 0.8;
        cursor: pointer;
    }
    
    
    .nv1:hover {
        opacity: 1;
    }
    
    .nv2 {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        opacity: 0.8;
        cursor: pointer;
        display: none;
    }
    
    .nv2:hover {
        opacity: 1;
    }
    
    .nv3 {
        width: 35px;
        height: 35px;
        margin-left: 60px;
    }

    .navbar {
        display: none;
    }

    .specialPromo {
        height: 100px;
    }

    #descGamer {
        padding-top: 5px;
        height: 100px;
        width: 70px;
    }

    #descGamer h4 {
        font-size: 15px;
    }

    .prixGamer {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
    }

    .prixGamer p {
        width: 100%;
        text-align: center;
        font-size: 11px;
    }

    .prixGamer button {
        width: 60px;
        height: 16px;
        margin-left: 5px;
    }

    .prixGamer button a {
        font-size: 10px;
        text-align: center;
    }
    
    #Gamer h1{
        margin-left: 20px;
        font-size: 25px;
    }
    
    #moniteursGamer h1{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 25px;
    }

    #chaiseGamer h1{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 25px;
    }

    #accessoirGamer h1{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 25px;
    }
}